*{
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Times New Roman", "Microsoft YaHei", Times, serif;
  border: 0;
  box-sizing: border-box;
}
.topwprds{
  width: 300px;
  height: 50px;
  font-size: 14px;
  line-height: 30px;
  color: #333;
}
.menu{ 
  height: 40px;
  border-top: 3px #333333 solid;
  border-bottom: 1px #333333 solid;
  width: 960px;
  margin: auto;
  position: fixed;
  top: 90px;
  z-index: 999;
  background: #FFFFFF;
  margin-left: 7px;
}
ul {
  list-style-type: none;
}
ul li a:hover{
  color:#f00;
  cursor: pointer;
}
nav ul li a{
  width: 120px;
  height: 40px;
  font-size: 13px;
  line-height: 32px;
  text-align: center;
  float: left;
  padding-top: 3px;
  color: #333333;
  text-decoration: none;
  display: block;
}
.toindex{
  position: absolute;
  left:0;
  top:36px;
}
.logo{
  position: absolute;
  top: 7px;
  left: 50%;
  margin-left: -127px;
}
.tel{
  width: 200px;
  height: 63px;
  position: absolute;
  right: 0;
  top: 30px;
  text-align: right;
}
.fs-16{
  font-size: 16px;
}
html,body{
  width: 100%;
}
.display-block{
  display: block;
}
.width-960{
  width: 960px;
}
.horizontal-center{
  margin: 0 auto;
}
.relative{
  position: relative;
  top:0;
  left:0;
}
.absolute{
  position: absolute;
}
.fixed{
  position: fixed;
}
.line-top{
  border-top: 3px solid #333;
}
.line-bottom{
  border-bottom: 1px solid #333;
}
.width-120{
  width: 120px;
}
.height-220{
  height: 220px;
}
.heigth-40{
  height: 40px;
}
.line-height{
  line-height:40px;
}
.bg-f1f2f9{
  background: #F1F2F9;
}
.aside{
  left:0;
  top: 144.6px;
  line-height: 0;
}
.outline-0{
  outline: 0;
}
.pl-5{
  padding-left: 5px;
}
.askonline{
  top: 174px;
  left: 16px;
  background-color: #040e14;
  font-size: 12px;
  color: #fff;
  display: block;
  width: 88px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  border-radius: 2px; 
  cursor: pointer;
  }
.header{
  left:0;
  top:0;
  background: #fff;
}
.height-90{
  height:90px;
}
.width-100-percent{
  width: 100%;
}
.height-44{
  height: 44px;
}
.margin-top-150{
  margin-top:150px;
}
.clearfix::after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
}
.float-left{
  float: left;
}
.float-right{
  float:right;
}
.width-108{
  width: 108px;
}
.height-28{
  height: 28px;
}
.wigth-120{
  width: 120px;
}
.height-85{
  height: 85px;
}
.border-box-blue{
  border: 1px solid rgb(206, 213, 224);
}
.margin-top-10{
  margin-top: 10px;
}
.margin-left-6{
  margin-left: 6px;
}
.margin-top-8{
  margin-top: 8px;
}
.width-88{
  width: 88px;
}
.color-fff{
  color: #fff;
}
.bgc-851121{
  background-color:#851121;
}
.contjianjie{
  width: 260px;
  height: auto;
  float: left;
  margin-left: 20px;
}
.contpic{
  width: 680px;
  height: auto;
  float: left;
}
.contpic img{
  max-width: 680px;
}
.lg{
  width: 260px;
  font-weight: bold;
  font-size: 22px;
  color: #111;
  line-height: 24px;
  padding-bottom: 10px;
}
.titpic{
  width: 260px;
  height: 81px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
}
.rtit{
  width: 260px;
  height: 40px;
  border-bottom: 1px #CCCCCC solid;
  margin-top: 20px;
}
.c, .e{
  font-size: 12px;
  line-height: 20px;
}
.czlg{
  width: 260px;
  height: auto;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
  overflow: hidden;
}
.footermenu{
  width: 960px;
  height: auto;
  border-top: 2px #000000 solid;
  margin-top: 12px;
  margin: auto;
  padding-top: 0px;
}
.clearfix:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
}
.fmenu{
  width: 150px;
  height: 180px;
  float: left;
  margin-right: 40px;
  padding-top: 20px;
  margin-left: 10px;
}
.fcopy{
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 40px;
  padding-top: 30px;
  margin-left: 10px;
  font-size: 12px;
  line-height: 22px;
  color: #333333;
}
.fmenu ul li a{
  font-size: 12px;
  line-height: 28px;
}



